p {
    color: white;
}

body {
    background-color: #434442;
}

h1 {
    color: white;
    font-size: 69px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    font-size: 34px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

a {
    color:white;
}

.boxed {
    border: 1px solid green ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    font-size: 34px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}